<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Account</title>

    <link rel="stylesheet" href="css/index.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="red" content="#5a1720">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="css/angular-material.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

      <meta name="google-signin-scope" content="profile email">
      <meta name="google-signin-client_id" content="406036343311-b4019lfu1v67ufelg9a6ts8nnd4r9ee2.apps.googleusercontent.com.apps.googleusercontent.com">
      <script src="https://apis.google.com/js/platform.js" async defer></script>  

      <style>
        body{ 
          background-size: cover;
          background-repeat: no-repeat;
          background-color: #FAFAFA;
          background-attachment:scroll; 
          align-content: center;
        }
      </style>
  
    </head>
      <body id="body" ng-app="NewApp" ng-cloak ng-controller="AppCtrl">
        <!--
          Your HTML content here
        -->  
        
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-aria.min.js"></script>
        <script src="js/angular-messages.min.js"></script>
      
        <!-- Angular Material Library -->
        <script src="js/angular-material.min.js"></script>
        
        <md-content id="content" style="background-color: transparent;">
            <md-toolbar class="md-whiteframe-2dp" id="toolbar" style="background-color: #5a1720;color:#fff">
                <div class="md-toolbar-tools" >
              
                    <h2 flex md-truncate>Sexual Harassment</h2>
                    <md-button onclick="logoutAccount()" hide-xs hide-sm class="" id="btn_logout_home" style="background-color: #5a1720;color:#fff" >Logout</md-button>    
                    <md-button href="./about.html"  hide-xs hide-sm class="" id="btn_logout_home" style="background-color: #5a1720;color:#fff" onclick=" ">About</md-button>
                    <md-button href="./terms-conditions.html"  hide-xs hide-sm class="" id="btn_logout_home" style="background-color: #5a1720;color:#fff" onclick=" ">Terms & Condition</md-button>
                    <md-button href="./privacy-policy.html"  hide-xs hide-sm class="" id="btn_logout_home" style="background-color: #5a1720;color:#fff" onclick=" ">Privacy Policy</md-button>
                </div>
            </md-toolbar>

            <div hide="" show-sm="" show-xs="" style="background-color: #ef5350;">
              <div style="height: 56px;" layout-align="center center"  layout="row"  class="md-block" >
                <md-button id="account-info-btn"  class="md-icon-button" style="width: 42px;"  onclick="showAccountInfo()">
                  <md-icon style="width: 42px;">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                      <path fill="#ffffff" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M12,13C14.67,13 20,14.33 20,17V20H4V17C4,14.33 9.33,13 12,13M12,14.9C9.03,14.9 5.9,16.36 5.9,17V18.1H18.1V17C18.1,16.36 14.97,14.9 12,14.9Z" />
                    </svg>
                  </md-icon>
                </md-button>
                <md-button id="recent-task-btn"   class="md-icon-button" style="width: 42px;" onclick="showRecentTasks()" >
                  <md-icon style="width: 42px;">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                      <path fill="#ffffff" d="M19,5V7H15V5H19M9,5V11H5V5H9M19,13V19H15V13H19M9,17V19H5V17H9M21,3H13V9H21V3M11,3H3V13H11V3M21,11H13V21H21V11M11,15H3V21H11V15Z" />
                    </svg> 
                  </md-icon>
                </md-button>
                <md-button id="recent-posts-btn"   class="md-icon-button" style="width: 42px;" onclick="showRecentPosts()" >
                  <md-icon style="width: 42px;">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                      <path fill="#ffffff" d="M3 11H11V3H3M5 5H9V9H5M13 21H21V13H13M15 15H19V19H15M3 21H11V13H3M5 15H9V19H5M13 3V11H21V3M19 9H15V5H19Z" />
                    </svg> 
                  </md-icon>
                </md-button>
                <md-button  id="forum-btn"   class="md-icon-button" style="width: 42px;" onclick="showForum()" >
                  <md-icon style="width: 42px;">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                      <path fill="#ffffff" d="M9 22C8.4 22 8 21.6 8 21V18H4C2.9 18 2 17.1 2 16V4C2 2.9 2.9 2 4 2H20C21.1 2 22 2.9 22 4V16C22 17.1 21.1 18 20 18H13.9L10.2 21.7C10 21.9 9.8 22 9.5 22H9M10 16V19.1L13.1 16H20V4H4V16H10M16.3 6L14.9 9H17V13H13V8.8L14.3 6H16.3M10.3 6L8.9 9H11V13H7V8.8L8.3 6H10.3Z" />
                    </svg>
                  </md-icon>
                </md-button>
                <md-button id="assistant-btn"   class="md-icon-button" style="width: 42px;display: none;" onclick="showLegalAssistant()">
                  <md-icon style="width: 42px;">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                      <path fill="#ffffff" d="M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9M10,16V19.08L13.08,16H20V4H4V16H10M6,7H18V9H6V7M6,11H15V13H6V11Z" />
                    </svg>
                  </md-icon>
                </md-button>
              </div>
                
            </div>
      
            <div ng-controller="AppCtrl" layout="row"  ng-cloak style="background-color: #fafafa">
       
              
                <md-sidenav md-component-id="left" layout="row" id="side_nav"
            md-is-locked-open="$mdMedia('gt-md')" class="md-sidenav-left" md-component-id="left"
                            md-disable-backdrop=""  style="background-color: #ef5350; height: auto;">
             
            
                  <md-content layout-margin=""  style="background-color: #ef5350;color: #fff;width: 100%;">
                          <md-list ng-controller="ListCtrl" layout-align="center center" style="color: white;"> 
                               
                            <md-list-item id="account-info-btn" class="md-1-line"  ng-click="null" onclick="showAccountInfo()">
                                <img style="width: 24px;height:24px;margin-right:20px" ng-src="https://firebasestorage.googleapis.com/v0/b/wood-scrap.appspot.com/o/account-info.png?alt=media&token=3dec9591-c265-4eb6-8088-c9313435054f" />
                                <p style="color: white;"id="list_title">Account Info</p> 
                              
                           
                            </md-list-item>

                            <md-divider></md-divider>

                            <md-list-item id="recent-task-btn"  class="md-1-line"  ng-click="null" onclick="showRecentTasks()" >
                                <img style="width: 24px;height:24px;margin-right:20px" ng-src="https://firebasestorage.googleapis.com/v0/b/anti-sexual-harassment.appspot.com/o/recent-task.png?alt=media&token=727bda4a-c87a-4f36-b415-46be76ac10dc" />
   
                                <p style="color: white;"id="list_title">Recent Tasks</p>  
                            </md-list-item>

                            <md-divider></md-divider>
                            
                            <md-list-item id="recent-posts-btn"  class="md-1-line"  ng-click="null" onclick="showRecentPosts()" >
                                <img style="width: 24px;height:24px;margin-right:20px" ng-src="https://firebasestorage.googleapis.com/v0/b/anti-sexual-harassment.appspot.com/o/recent-post.png?alt=media&token=22c59a7f-6a19-4fc5-9679-27f8ed660c76" />
   
                                <p style="color: white;"id="list_title">Recent Posts</p>  
                            </md-list-item>
 
                            <md-divider></md-divider>

                            <md-list-item  id="forum-btn"  class="md-1-line"  ng-click="null" onclick="showForum()" >
                                <img style="width: 24px;height:24px;margin-right:20px" ng-src="https://firebasestorage.googleapis.com/v0/b/anti-sexual-harassment.appspot.com/o/forum-white.png?alt=media&token=25a0939a-d75f-408f-a85a-77dab1ae960e" />
   
                                <p style="color: white;"id="list_title">Forum</p>  
                            </md-list-item>
 
                            <md-divider></md-divider>

                            <md-list-item id="assistant-btn" style="display: none;" class="md-1-line"  ng-click="null" onclick="showLegalAssistant()" >
                                <img style="width: 24px;height:24px;margin-right:20px" ng-src="https://firebasestorage.googleapis.com/v0/b/anti-sexual-harassment.appspot.com/o/assistant-white.png?alt=media&token=46fb0d21-5100-4814-aa68-a9d14db4f2cd" />
   
                                <p style="color: white;"id="list_title">AI Legal Assistant</p>  
                            </md-list-item>
 
                            <md-divider></md-divider>
                          <md-button class="md-flat"  style="width: auto; bottom: 0%;position: absolute; align-self: center; "
                           onclick="logoutAccount()">Logout Account</md-button>
                             
                          </md-list>
                    
                    
                  </md-content>
            
                </md-sidenav>
              
                  <md-content layout="column" layout-align="center start" style="background-color: transparent; padding:20px;width:100%">
                    <div id="account-info" style="width: 100%;">
                      <h1 class="md-display-1" style="font-weight: 300;color: #c62828;margin: 20px; ">Account Information</h1>
                      <div layout-lg="row" layout-md="row" layout-sm="column" layout-xs="column">
                      <md-card>
                        <div style="background-color: #ef5350;">
                          <h4 style="font-weight: 500;margin-left: 20px;color: #fff;">Account Name</h4>
                        </div>
                        <div layout="row" layout-align="center center"  style=" margin-top:20px; margin-left: 30px;margin-right: 30px;;">
                            <md-input-container class="md-block" style="width: auto;">
                                <label>Full name</label>
                                <input id="first_name" value=" " style="width: 250px;font-size: x-small;" disabled="true">
                            </md-input-container>   
                        </div>
                      </md-card>

                      <md-card>
                        <div style="background-color: #ef5350;">
                          <h4 style="font-weight: 500;margin-left: 20px;color: #fff;">Account ID</h4>
                        </div>
                        <div layout="row" layout-align="center center"  style="margin-top:20px; margin-left: 30px;margin-right: 30px; ">
                            <md-input-container class="md-block" style="width: auto;">
                                <label>ID</label>
                                <input id="account_id" value=" " style="width: 250px; font-size: x-small;" disabled="true">
                            </md-input-container>
                        </div>
                      </md-card>

                      <md-card>
                        <div style="background-color: #ef5350;">
                          <h4 style="font-weight: 500;margin-left: 20px;color: #fff;">Email Address</h4>
                        </div>
                        <div layout="row" layout-align="center center"  style="margin-top:20px; margin-left: 30px;margin-right: 30px;;">
                            <md-input-container class="md-block" style="width: auto;">
                                <label>Email Address</label>
                                <input id="email" value=" " style="width: 250px;font-size: x-small;" disabled="true">
                            </md-input-container>
                        </div>
                      </md-card> 
                    </div>

                      <h1 class="md-display-1" style="font-weight: 300;color: #c62828;margin: 20px; ">Profile</h1>
                         <div layout-lg="row" layout-md="row" layout-sm="column" layout-xs="column"> 
                            <md-card>
                                <div style="background-color: #ef5350;">
                                  <h4 style="font-weight: 500;margin-left: 20px;color: #fff;">Username</h4>
                                </div>
                                <div layout="row" layout-align="start center"  style="margin-top:20px; margin-left: 30px;margin-right: 30px; ">
                                    <md-input-container class="md-block" style="width: auto;" >
                                        <label>Username</label>
                                        <input id="input-username" style="width: 250px;font-size: x-small;"  disabled="true" value=" ">
                                    </md-input-container>
                                </div>
                                <md-button id="alter-button" onclick="alter()" style="background-color: #ffcdd2;color: #d32f2f;">Edit</md-button>
                            </md-card>
                        </div>
                    </div> 
                      
                    <div id="recent-tasks" style="width: 100%;min-height: 700px;">
                        <h1 class="md-display-1" style="font-weight: 300;color: #c62828;width:100%; margin: 20px; ">Recent Tasks</h1>
                        <md-list  class="md-block" style="width: 100%;">
                          <md-list-item class="md-2-line md-block" layout-align="column" layout="center start" ng-repeat="x in allTasks">
                            <md-card layout="column" layout-align="center start" class="md-block" flex style="width: 100%;">
                             
                                <h3 class="md-headline" flex id="div-list-item-header" >{{ x.task }}</h3>
                             
                                <h4 class=" md-subhead" flex  id="div-list-item-subhead" >{{ x.date}}</h4>
                              
                            </md-card> 
                          </md-list-item>
                        </md-list>     
                    </div> 

                    <div id="recent-posts" style="width: 100%;min-height: 700px;">
                        <h1 class="md-display-1" style="font-weight: 300;color: #c62828;width:100%;margin: 20px; ">Recent Posts </h1>
                        <md-list  class="md-block" style="width: 100%;">
                          <md-list-item class="md-2-line md-block" layout-align="column" layout="center start" ng-repeat="x in allRecentPosts">
                            <md-card layout="column" layout-align="center start" class="md-block" flex style="width: 100%;">
                             
                                <h3 class="md-headline" flex id="div-list-item-header" >{{ x.content }}</h3>
                             
                                <h4 class=" md-subhead" flex  id="div-list-item-subhead" >{{ x.date }}</h4>
                              
                            </md-card> 
                          </md-list-item>
                        </md-list>     
                    </div> 

                    <div id="forum" style="width: 100%;" layout="column">
                        <h1 class="md-display-1" style="font-weight: 300;color: #c62828; margin: 20px; ">Forum</h1>                     
                        
                          <md-card style="margin:20px" layout="column" class="md-block" flex style="padding: 20px;">
 
                              <md-card-title>
                                <md-card-title-text>
                                  <span class="md-headline" style="color: #c62828;font-weight: 300;line-height: 24px;">Create new post</span>
                                </md-card-title-text>
                              </md-card-title>

                              <md-card-content> 
                                <md-input-container class="md-block"  >
                                  <label>Type your insights here...</label>
                                    <textarea ng-model="user.biography" md-maxlength="150" rows="1" md-select-on-focus id="post-content"></textarea>
                                  </md-input-container>
                                </md-input-container> 
                              </md-card-content>
 
                              <md-card-actions layout="row" layout-align="end center" style="margin-top:-30px;margin-bottom: 20px;">
                                <md-button  disabled id="btn-save-post" class="md-flat" style="background-color: #ffcdd2;color: #d32f2f;" onclick="savePost()">
                                  Post Now
                                </md-button>
                                <md-button  disabled id="btn-discard" class="md-flat" style="background-color: #ffcdd2;color: #d32f2f;" onclick="discardPost()">
                                  Discard
                                </md-button> 
                              </md-card-actions>

                          </md-card> 
                           
                          <div layout="column">
                            <h3 class="md-headline" style="font-weight: 300;color: #424242; margin: 20px; ">Feeds</h3>
                            <md-divider></md-divider>
                            <md-list class="md-block" style="width: 100%;">
                              <md-list-item class="md-2-line md-block" layout-align="column" layout="center start" ng-repeat="x in allUserPosts">
                                <md-card layout="column" layout-align="center start" flex style="width: 100%;height: auto;">
                                  <div class="md-block" flex style="background-color: #EEEEEE; width: 100%;" layout="column">
                                    <h4 class="md-title" flex id="div-list-item-header" ng-model="x.username" style="color: #e53935;" >{{ x.username }}</h4>
                                    <h5 class="md-caption" flex id="div-list-item-subhead"  ng-model="x.date" style="color: #9E9E9E;">{{ x.date }}</h5>
                                  </div> 
                                  <h3 class="md-headline" flex id="div-list-item-header" ng-model="x.content" style="color: #212121;margin-bottom: 0px;">{{ x.content }}</h3>

                                  <md-card-content class="md-block"  style="width: 100%;margin-top: 0px;margin-bottom: 0px;" flex ng-show="add_comment_section[$index]" id="input-comment-section"> 
                                    <md-input-container  class="md-block"  style="width: 100%;margin: 0px;" md-no-float > 
                                        <textarea ng-model="user.biography"  flex placeholder="Type your comments here..." md-maxlength="150" rows="1" md-select-on-focus id="post-comment"></textarea>
                                      </md-input-container>
                                    </md-input-container> 
                                  </md-card-content>

                                  <md-card-actions ng-hide='x.content  == null' id="action-comment" layout="row" layout-align="start center" class="md-block" flex style="margin-bottom: 20px; width:100%;margin-top: -20px;">
                                    <md-button ng-hide="add_comment_section[$index]" ng-show="add_comment_btn[$index]" ng-click="openCommentBox($index, x)" class="md-icon-button" style="background-color: #ffcdd2;color: #d32f2f;width: 42px;margin-top: 35px;" >
                                      <md-icon>
                                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                          <path fill="#d32f2f" d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
                                      </svg>
                                      </md-icon>  
                                      
                                    </md-button> 

                                    <md-button id="btn-save-comment"  ng-click="saveComment(x)" ng-show="add_comment_section[$index]" class="md-icon-button" style="background-color: #ffcdd2;color: #d32f2f;width: 42px;margin-left: 12px;" >
                                      <md-icon>
                                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                          <path fill="#d32f2f" d="M4 6.03L11.5 9.25L4 8.25L4 6.03M11.5 14.75L4 17.97V15.75L11.5 14.75M2 3L2 10L17 12L2 14L2 21L23 12L2 3Z" />
                                        </svg>
                                      </md-icon>  
                                      
                                    </md-button> 

                                    <md-button ng-click="closeCommentBox($index)" ng-show="add_comment_section[$index]" class="md-icon-button" style="background-color: #ffcdd2;color: #d32f2f;width: 42px;" >
                                      <md-icon>
                                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                          <path fill="#d32f2f" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
                                        </svg>
                                      </md-icon>  
                                      
                                    </md-button>  

                                    <md-button ng-click="viewAllComments(x)"  ng-show="add_comment_section[$index]" class="md-icon-button" style="background-color: #ffcdd2;color: #d32f2f;width: 42px;" >
                                      <md-icon>
                                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                          <path fill="#d32f2f" d="M12,23A1,1 0 0,1 11,22V19H7A2,2 0 0,1 5,17V7A2,2 0 0,1 7,5H21A2,2 0 0,1 23,7V17A2,2 0 0,1 21,19H16.9L13.2,22.71C13,22.89 12.76,23 12.5,23H12M13,17V20.08L16.08,17H21V7H7V17H13M3,15H1V3A2,2 0 0,1 3,1H19V3H3V15M9,9H19V11H9V9M9,13H17V15H9V13Z" />
                                        </svg>
                                      </md-icon>  
                                      
                                    </md-button> 
                                  </md-card-actions>

                                  

                                 
                                </md-card> 
                              </md-list-item>
                            </md-list>     
                          </div>
                    </div> 

                    <div id="legal-assistant" style="width: 100%;">
                        <h1 class="md-display-1" style="font-weight: 300;color: #c62828;width:100%">Legal Assistant</h1>

                         
                    </div>  

                    <div id="post-detailed" style="width: 100%;min-height: 700px;">
                      <div layout="row" layout-align=" start center">
                        <md-button  id="btn-save-comment"  onclick="refreshPage()" class="md-icon-button" style="background-color: #ffcdd2;color: #d32f2f;width: 42px;" >
                          <md-icon>
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                              <path fill="#d32f2f" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
                          </svg>
                          </md-icon>   
                        </md-button> 

                        <h1 class="md-display-1 md-block" flex style="font-weight: 300;color: #c62828;width:100%">Comments</h1>
                      </div> 

                      <md-card layout="column" layout-align="center start" flex style="width: 100%;height: auto;">
                        <div class="md-block" flex style="background-color: #EEEEEE; width: 100%;" layout="column">
                          <h4 class="md-title" flex id="detailed_username" style="color: #e53935;">Username</h4>
                          <h5 class="md-caption" flex id="detailed_date" style="color: #9E9E9E;">Date</h5>
                        </div> 
                        <md-card-content>
                           <h3 class="md-headline" flex id="detailed_contents" style="color: #212121;margin-bottom: 0px;">Contents</h3>
                            
                        </md-card-content> 
                          <md-card-content layout="column" class="md-block"  style="width: 100%;margin-top: 0px;" id="input-comment-section"> 
                            <md-list class="md-block" id="comments-list" style="width: 100%;" flex >
                              <md-list-item class="md-2-line md-block" layout-align="column" layout="center start" ng-repeat="x in allUserComments">
                                <md-card layout="column" class="md-whiteframe-4" layout-align="center start" flex style="width: 100%;height: auto;">
                                  <div class="md-block" flex style="background-color: #ffebee; width: 100%;" layout="column">
                                    <h4 class="md-title" flex id="div-list-item-header" style="color: #e53935;" >{{ x.username }}</h4>
                                    <h5 class="md-caption" flex id="div-list-item-subhead" style="color: #e53935;">{{ x.date }}</h5>
                                  </div> 
                                  <h3 class="md-headline" flex id="div-list-item-header" style="color: #212121;">{{ x.content }}</h3>
                                </md-card>
                              </md-list-item>
                            </md-list> 
                          </md-card-content>

                          <div layout="row"  class="md-block" flex style="padding-top:30px;padding-bottom:10px;bottom: 0px; position: relative;width: 100%;left: 0px;right: 0px;background-color: #EEEEEE;">
                            <md-input-container  class="md-block" flex style="width: 100%;margin: 0px;margin-left: 30px;" md-no-float > 
                              <textarea ng-model="user.biography"  flex placeholder="Type your comments here..." md-maxlength="150" rows="1"  id="post-comment"></textarea>
                            </md-input-container> 
                            <md-card-actions style="margin: 0px;margin-right: 30px;">
                              <md-button id="btn-save-comment"  ng-click="detailedSaveComment(x)" class="md-icon-button" style="background-color: #ffcdd2;color: #d32f2f;width: 42px;" >
                                <md-icon>
                                  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#d32f2f" d="M4 6.03L11.5 9.25L4 8.25L4 6.03M11.5 14.75L4 17.97V15.75L11.5 14.75M2 3L2 10L17 12L2 14L2 21L23 12L2 3Z" />
                                  </svg>
                                </md-icon>  
                                
                              </md-button> 
                            </md-card-action>
                          </div>
                      </md-card>
                  </div>  
                  </md-content>  
              </div>
              
              <div style=" background-color: #5a1720; margin-bottom: 0% " layout-align="center center" layout-xs="column" layoput-sm="column" layout-lg="row"> 

                <div style="padding: 20px; color: #fff" layout-xs="row" layoput-sm="row" layout-lg="column">
                  <md-button href="./login.html" style="width: 200px; text-align: left;text-indent: 20px">Forums</md-button>
                  <md-button href="./login.html" style="width: 200px; text-align: left;text-indent: 20px">Account</md-button> 
                </div>
                <div style="padding: 20px; color: #fff" layout-xs="row" layoput-sm="row" layout-lg="column"> 
                  <md-button href="./about.html" style="width: 200px; text-align: left;text-indent: 20px">About</md-button>
                  <md-button href="./terms-conditions.html" style="width: 200px; text-align: left;text-indent: 20px">Terms & Condition</md-button>  
                </div>
                <div style="padding: 20px; color: #fff" layout-xs="row" layoput-sm="row" layout-lg="column"> 
                  <md-button href="./privacy-policy.html" style="width: 200px; text-align: left;text-indent: 20px">Privacy Policy</md-button>
                  <md-button href="./index.html" style="width: 200px; text-align: left;text-indent: 20px">Home</md-button> 
                </div>
                <div style="padding: 20px; color: #fff" layout-xs="row" layoput-sm="row" layout-lg="column">  
                  <md-button href="./locations.html" style="width: 200px; text-align: left;text-indent: 20px">Office Location</md-button>
                  <md-button href="./contact-us.html" style="width: 200px; text-align: left;text-indent: 20px">Contact Us</md-button>
                </div>
            </div> 
      </md-content> 
      <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script>

      <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-firestore.js"></script>
 
      <script  type="text/javascript"  src="/js/index.js"></script>    
      
      <script>

      var lb_first_name;
      var lb_last_name;
      var lb_email;
      var lb_uid;  
      var lb_username;

      var x1 = document.getElementById("account-info");
      var x2 = document.getElementById("recent-tasks"); 
      var x3 = document.getElementById("recent-posts"); 
      var x4 = document.getElementById("forum"); 
      var x5 = document.getElementById("legal-assistant"); 
      var x6 = document.getElementById("post-detailed"); 
       

      var action_comment = document.getElementById('action-comment');
      var div_list_item_header = document.getElementById('div-list-item-header');

      var inputUsername = document.getElementById("input-username");

      var alterBtn = document.getElementById("alter-button");

      var taskName = document.getElementById('taskName');

      var displayName;
      var email;
      var emailVerified;
      var photoURL;
      var isAnonymous;
      var uid;
      var providerData; 
               
      var username;             

      x2.style.display = "none"; 
      x3.style.display = "none"; 
      x4.style.display = "none"; 
      x5.style.display = "none"; 
      x6.style.display = "none";

      window.onload = function() {

        //document.getElementById('btn-discard').setAttribute("disabled", null);
        //document.getElementById('btn-save-post').setAttribute("disabled", null); 

         
          firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
        // User is signed in.
                displayName = user.displayName;
                email = user.email;
                emailVerified = user.emailVerified;
                photoURL = user.photoURL;
                isAnonymous = user.isAnonymous;
                uid = user.uid;
                providerData = user.providerData;

                document.getElementById("first_name").value = displayName;
                document.getElementById("email").value = email;
                document.getElementById("account_id").value = uid;
 
                db.collection("users").doc(uid).collection("account_info")
                      .get()
                      .then((querySnapshot) => { 
                          querySnapshot.forEach((doc) => { 
                              const myUserName = doc.data();  
                              inputUsername.value = myUserName.username; 
                              username = myUserName.username;
                              
                          }); 
                });  
            } else {
                window.location.href = "https://sexualharassment.firebaseapp.com/login.html";
            }
          }); 
        };  

        function showAccountInfo(){
          x2.style.display = "none"; 
          x3.style.display = "none";
          x4.style.display = "none";
          x5.style.display = "none";
          x6.style.display = "none";

          if (x1.style.display === "none") {
            x1.style.display = "block";
          }
          //} else {
           // x1.style.display = "none";
          //}
        }

        function showRecentTasks(){

          x1.style.display = "none"; 
          x3.style.display = "none";
          x4.style.display = "none";
          x5.style.display = "none";
          x6.style.display = "none";

          if (x2.style.display === "none") {
            x2.style.display = "block";
          }
        }

        function showRecentPosts(){
          x1.style.display = "none"; 
          x2.style.display = "none";
          x4.style.display = "none";
          x5.style.display = "none";
          x6.style.display = "none";

          if (x3.style.display === "none") {
            x3.style.display = "block";
          }
        }

        function showForum(){
          x1.style.display = "none"; 
          x2.style.display = "none";
          x3.style.display = "none";
          x5.style.display = "none";
          x6.style.display = "none";

          if (x4.style.display === "none") {
            x4.style.display = "block";
          }
        }

        function showLegalAssistant(){
          x1.style.display = "none"; 
          x2.style.display = "none";
          x3.style.display = "none";
          x4.style.display = "none";
          x6.style.display = "none";

          if (x5.style.display === "none") {
            x5.style.display = "block";
          }
        }

        function showComments(){
          x1.style.display = "none"; 
          x2.style.display = "none";
          x3.style.display = "none";
          x4.style.display = "none";
          x5.style.display = "none";

          if (x6.style.display === "none") {
            x6.style.display = "block";
          }
        }

        function alter(){
          if (document.getElementById("input-username").disabled){
              document.getElementById("alter-button").innerHTML = "Save";
              document.getElementById("input-username").disabled = false;
              var user_name = document.getElementById("input-username");
              user_name.value = "";
              document.getElementById('alter-button').setAttribute("disabled", null); 
          } else {
              document.getElementById("alter-button").innerHTML = "Edit";
              document.getElementById("input-username").disabled = true
              
              var db = firebase.firestore();
              var user_name = document.getElementById("input-username").value; 
              //var medForIllness1 = document.getElementById("medForIllness").value;
              //var docname = uid.replace(/\s+/g, '');
              //var status; 
              var newDate = new Date();
              
              var datetime = "Edited on: " + new Date().toLocaleString();
              var docDateTime = new Date().toLocaleString();
              var finalDocDateTime = docDateTime.replace(/\//g, "-");

              const docRef = db.doc("users/"+uid+"/account_info/profile");
              const docRef1 = db.doc("user_lists/"+uid);
              const docRef2 = db.doc("users/"+uid+"/recent_tasks/"+finalDocDateTime);


              docRef.set({
                username: user_name+"", 
              })
              .then(function() {
                console.log("Successful");
                alert('Username successfully updated.')
                //document.getElementById("cloudSaveStatus").innerText = "Successful";
              })
              .catch(function(error) {
                console.error("Error adding document: ", error);
              });
              docRef1.set({
                username: user_name+"", 
              });
              docRef2.set({
                task: "Username has been edited to "+user_name, 
                date: datetime+"",
              }).then(function(){
                window.location.href = "https://sexualharassment.firebaseapp.com/account.html";
              });
          } 
        }

        function savePost(){
              var db = firebase.firestore();
              var user_name = document.getElementById("input-username").value; 
              var post_content = document.getElementById("post-content").value; 
              var acc_id = document.getElementById('account_id').value;

              var newDate = new Date();
              
              var datetime = "Posted on: " + new Date().toLocaleString();
              var docDateTime = new Date().toLocaleString();
              var finalDocDateTime = docDateTime.replace(/\//g, "-");
 
              const docRef1 = db.doc("post_lists/"+finalDocDateTime);
              const docRef2 = db.doc("users/"+uid+"/recent_posts/"+finalDocDateTime);
              const docRef3 = db.doc("users/"+uid+"/recent_tasks/"+finalDocDateTime);

              if(user_name != "" && user_name != " " && acc_id != ""){
                docRef1.set({
                    username: user_name+"", 
                    post_content: post_content+"",
                    date: datetime+"",
                  }).then(function() {
                      
                    docRef2.set({
                      username: user_name+"", 
                      post_content: post_content+"",
                      date: datetime+"",
                    }).then(function() {
                      docRef3.set({
                        task: "You posted a new insight." , 
                        date: datetime+"",
                      }).then(function() {
                        window.location.reload();
                      });

                    });
                  });
              } else {
                alert("Username must be set first.\nGo to 'Account Info' then set your Username.");
              }
              
              
              
          }

          function discardPost(){
             document.getElementById("post-content").value = ""; 
             document.getElementById('btn-discard').setAttribute("disabled", null);
             document.getElementById('btn-save-post').setAttribute("disabled", null); 
          }

          document.getElementById("post-content").addEventListener("keyup", function() {
          var nameInput = document.getElementById('post-content').value;
              if (nameInput != "") {
                  document.getElementById('btn-discard').removeAttribute("disabled");
                  document.getElementById('btn-save-post').removeAttribute("disabled");
              } else { 
                  document.getElementById('btn-discard').setAttribute("disabled", null);
                  document.getElementById('btn-save-post').setAttribute("disabled", null); 
              }
          });

          document.getElementById("input-username").addEventListener("keyup", function() {
          var nameInput = document.getElementById('input-username').value;
              if (nameInput != "") { 
                  document.getElementById('alter-button').removeAttribute("disabled");
              } else {  
                  document.getElementById('alter-button').setAttribute("disabled", null); 
              }
          });

          
          function refreshPage(){
            window.location.reload();
          }
 
          (function(d, m){
            var randomId = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
            if(localStorage.getItem("km-generated-user-id") == null) {
                localStorage.setItem("km-generated-user-id", randomId);
            } else {
                randomId = localStorage.getItem("km-generated-user-id");
            }
            var kommunicateSettings = {"appId":"d0747cf34988ad56ff0e6b2704657c16","popupWidget":true,"automaticChatOpenOnNavigation":false};
            var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
            s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
            var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
            window.kommunicate = m; m._globals = kommunicateSettings;
          })(document, window.kommunicate || {});

         
        
      </script>
       
  </body>
  

</html>
